{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Book Details
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{book.title}} ({{book.year}})</h1>
    <h3>{{book.author}}</h3>
    <h6>ISBN: {{book.isbn}}</h6>

    <h3><a href="https://www.goodreads.com/">Goodreads</a> Data</h3>
    <table class="table">
        <tr>
            <td>average rating</td>
            <td>{{good_reads.average_rating}}</td>
        </tr>
        <tr>
            <td>ratings count</td>
            <td>{{good_reads.ratings_count}}</td>
        </tr>
        <tr>
            <td>reviews count</td>
            <td>{{good_reads.reviews_count}}</td>
        </tr>
    </table>
    <h3>Reviews</h3>
    {% for review in reviews %}
    <p>
        {{review.rating}} / 5
        <br />
        {{review.review_text}}
    </p>
    {% endfor %}

    <form class="form" method="post" action="/book/{{book.isbn}}">
        <h2 class="form-signin-heading">Leave Review</h2>
        {{form.hidden_tag() }}
        <div class="form-group">
            <label for="comment">Review</label>
            <textarea class="form-control" rows="5" name="review_text"></textarea>
        </div>
        <label for="rating">Rating</label>
        <input name="rating" type="range" class="slider" step="0.2" min="0" max="5">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Review</button>
    </form>
</div>
{% endblock %}