{% extends "base.html" %}

{% block title %}
Rate books
{% endblock %}

{% block content %}
<div class="container">
    <h1>Rate Books</h1>
    {% if not name %}
    <p>Sign in to get started</p>
    {% else %}
    <h3><a href="{{ url_for('search') }}">Search books</a></h3>
    {% endif %}
    <div class="list-group">
        {% for book in books %}
            <a href="/book/{{book.isbn}}" class="list-group-item">{{book.title}} ({{book.year}})</a>
        {% endfor %}

    </div>
</div>
{% endblock %}